
.hidden {
  display: none;
}
#map {
  height: 20%;
}
#jobpostings-container {
      min-height: 400px;
      margin: auto;
      background-color: #FFFEF6;
      position: static;
      max-width: 800px;
}
.jobpostings {
  border-bottom: 1px solid #EAE8E0;
  background-color: #FFFBF0;
  max-width: 800px;
  margin: auto;
  font-weight: 100;
  font-size: 1.25rem;
}

.jobpostings h6 {
  margin-bottom: .4rem;
}
