<h5>POST A JOB</h5>

<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }
  #floating-panel {
    position: relative;
    top: 10px;
    left: 40%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }

</style>



      <input id="address" type="textbox" value="Sydney, NSW">
      <input id="submit" type="button" value="Location">

    <div id="map"></div>

<div id="posting-form">
  <form  action="<%= jobpostings_path %>" autocomplete="on" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <br>
    <label for="posting" class="form-label"><h6>Location</h6></label>
    <input id="postingloc" name="jobposting[location]" required="required" type="text" placeholder="North Bergen, NJ"  />
    <label for="posting" class="form-label"><h6>Description</h6></label>
    <input id="posting" name="jobposting[description]" required="required" type="text" placeholder="Pick all the weeds around property"/>

    <label for="posting" class="form-label"> <h6>Start Date</h6></label>
    <input id="posting" name="jobposting[start_date]" required="required" type="date"/>

    <label for="posting" class="form-label"><h6>Rate of Pay</h6> </label>
    <input id="passwordsignup" name="jobposting[rate_of_pay]" required="required" type="text" placeholder="15.0"/></br>

    <label for="posting" class="form-label"><h6>Type of Pay</h6> </label>
    <input id="passwordsignup" name="jobposting[type_of_pay]" required="required" type="text" placeholder="Hourly, Daily"/></br>

    <input type="submit" value="Find Workers"/>
  </form>
</div>


<script>
  window.onload = getLocation();
  var a = []
  function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      } else {
          console.log("Geolocation is not supported by this browser.");
      }
  };

  function showPosition(position) {
    var  xlat  = position.coords.latitude
    var  xlong = position.coords.longitude
    initMap(xlat, xlong)
  };

function initMap(xlat, xlong) {
console.log(xlat, xlong);
var map = new google.maps.Map(document.getElementById('map'), {
  zoom: 11,
  center: {lat: xlat, lng: xlong}
});
var geocoder = new google.maps.Geocoder();

document.getElementById('submit').addEventListener('click', function() {
  geocodeAddress(geocoder, map);
});
}

function geocodeAddress(geocoder, resultsMap) {
var address = document.getElementById('address').value;
geocoder.geocode({'address': address}, function(results, status) {
  if (status === google.maps.GeocoderStatus.OK) {

// vars to pass to saver() function
    longaddress = results[0].formatted_address
    latt        = results[0].geometry.location.lat(a)
    lang        = results[0].geometry.location.lng(a)
    var ary = saver(longaddress, latt, lang)

    console.log(ary);
    console.log(results[0].formatted_address);
    console.log(results[0].geometry.location.lat(a));
    console.log(results[0].geometry.location.lng(a));
    resultsMap.setCenter(results[0].geometry.location);
    var marker = new google.maps.Marker({
      map: resultsMap,
      position: results[0].geometry.location
    });
  } else {
    alert('Geocode was not successful for the following reason: ' + status);
  }
});
}

//Takes the geocoded results from geoCodeAddress and stores them in an easier function to deal with
function saver(long_address, latitudes, longitudes){
  a = []
  a.push(long_address)
  a.push(latitudes)
  a.push(longitudes)
  return a;
};


  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJzI8KKeNJJ0yk6CAZfXX_NBQEZOcOA4o&signed_in=true&callback=initMap"
      async defer></script>
